body {
    font-family: 'Arial', sans-serif;
    background: url('../img/viajes.jpg') no-repeat center center fixed;
    color: #333;
    background-size: cover;
    backdrop-filter: blur(10px);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: #333;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: #ff7e5f;
    transform: scale(1.1);
}

h1 {
    font-family: 'Arial Black', sans-serif;
    text-align: center;
    color: #fff;
    margin-top: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 36px;
}

#datetime {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 255, 0.7);
    border-radius: 25px;
    width: 220px;
    padding: 12px;
    margin: 10px 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="date"],
form input[type="number"],
form select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="checkbox"] {
    margin-right: 1px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #4267B2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #435df1;
    color: black;
}

.imagen-pais {
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
    overflow: hidden;
}

.imagen-pais:hover {
    transform: scale(1.15);
}

