body {
    justify-content: center;
}
h1 {
    font-family: Arial, sans-serif;
    text-align: justify;
}

#datetime {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: blue;
    border-radius: 20px;
    width: 200px;
}
